body {
    background-color: lightgrey;
    color: black;
    background-image: url('light.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  h1 {
    color:goldenrod;
    text-align: center;
  }